/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color:#5EC2E6;
    font-size: 1em;
    line-height: 1.4;
}

#header{
	z-index:10;
	background-color:#5EC2E6;
	position:fixed;
	width:100%;
	top:0;
	box-shadow:3px 2px 2px 0px rgb(0, 0, 0, 0.5);
}
#header-section{
	display:flex;
	justify-content:space-between;
}
.container{
	padding:10px;
	width:90%;
	margin:auto;
}
.nav-link{
	text-decoration:none;
	padding:10px;
	color:#fff;
	
}
.nav-link:hover{
	color:#5EC2E6;
	text-shadow:2px 2px #fff;
}

#home-section{
	width:100%;
	min-height:100vh;
	margin:0;
	background-image:url("img/gkjahid.jpg");
}
#home-banner{
	width:100%;
	max-height:100vh;
	
	
}
#home-dct{
	top:0;
	padding-top:45vh;
	text-align:center;
	font-family:robota;
	color:green;
	position:absolute;
}
#home-dct h1{
	margin:0;
	font-size:2.2em;
	font-style:uppercase;
}
/* The First Carousel Part */
	

body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
.slide-img {
	vertical-align: middle;
	max-height:600px;
	z-index:-1;
	}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  z-index:-2;
  position: relative;
  margin:0 auto;
  box-sizing:border-box;
  overflow:hidden;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Portfolio Part of the Land Page */
#portfolio{
	background-color:#FBFBFB;
	width:100%;
}
#p-tile-wrap{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows:25vh 25vh 25vh;
	
}
.tile{
	margin:10px;
	border-radius:5px;
	border:5px solid;
	border-color:rgb(205, 205, 205);
}
.p-tile-img{
	width:100%;
	height:100%;
	border-radius:5px;
	
}
#p-tile2{
	grid-area: 1 / 2 / span 2 / span 2;
	background-color:#5EC2E6;
	text-align:center;
	color:#FFFFFF;
	font-size:100%;
	padding-top:10px;
}
/* Skills Section */

#progress-container{
	display:flex;
	justify-content:space-between;
}
.pg-circle{
	min-width:100%/3;
	
}
.pg-bar{
	width:250px;
	height:250px;
	border-radius:50%;
	text-align:center;
	background-color:#eee;
	margin:50px 0px;
	line-height:250px;
}

/* Work Experience Section */
	
#we-container{
	display:flex;
	justify-content:space-between;
	}
#we-left{
	width:50%;
}
#we-right{
	width:45%;
	margin-left:30px;
}
#linkedin{
	border:none;
	border-radius:5px;
	background-color:#5EC2E6;
	color:#fff;
	padding:10px;
	font-weight:bold;
	
}
/* Contact Section */
#contact-title{
	
}
#contact-container{
	display:flex;
	justify-content:space-between;
}
#contact-left{
	width:60%;
	
}
#contact-left form{
	width:100%;
}
.input-container{
	width:100%;
	margin:20px 0px 2px 0px;
}
#contact-form{
	
	margin:5px 0px 5px 0px;
}
#input-field{
	display:flex;
	justify-content:space-between;
}
.input-field {
	width:49%;
}
#proposal-summary textarea{
	width:100%;
	box-sizing: border-box;
	height:100px;
	padding:10px;
	border:2px solid;
	border-color:rgb(94, 194, 230);
	border-radius:3px;
	color:#5EC2E6;
	background-color:#eee;
	
}
#name{
	width:90%;
	padding:10px;
	border:2px solid #5EC2E6;
	border-left:none;
	border-radius:0px 3px 3px 0px;
}
.fa-user{
	padding:10px;
	color:#5EC2E6;
	border:2px solid #5EC2E6;
	border-right:none;
	border-radius:3px 0px 0px 3px;
}
#name-container{
	display:flex;
}
#name-container:hover  >  .fa-user,
 #name-container:hover  > #name{
	border-color:rgb(94, 194, 230, 0.5);
	cursor:pointer;
}
input[type=text]:focus  ~ i, input[type=text]:focus{
	border-color:#0080FF;
	background-color:#ddd;
	cursor:pointer;
}
#email-container{
	display:flex;
}


#email-container:hover  >  .fa-envelope,
 #email-container:hover  > #email{
	border-color:rgb(94, 194, 230, 0.5);
	cursor:pointer;
}
 input[type=email]:focus{
	border-color:#0080FF;
	background-color:#ddd;
	cursor:pointer;
}
input[type=email]:focus ~ i{
	background-color:#ddd;
}

#email{
	width:90%;
	padding:10px;
	border:2px solid #5EC2E6;
	border-left:none;
	border-radius:0px 3px 3px 0px;
}
.fa-envelope{
	padding:10px;
	color:#5EC2E6;
	border:2px solid #5EC2E6;
	border-right:none;
	border-radius:3px 0px 0px 3px;
}
.input{
	width:100%;
	padding:10px;
	border:2px solid;
	border-color:rgb(94, 194, 230);
	border-radius:3px;
	color:#5EC2E6;
	border-color:rgb(94, 194, 230);
}
.input:hover, #text-area:hover{
	border-color:rgb(94, 194, 230, 0.5);
}
.odd{
	background-color:#5EC2E6;
	color:#fff;
	
}
.even{
	background-color:#fff;
	color:#5EC2E6;
	
}
.btn-submit{
	width:100px;
	background-color:#5EC2E6;
	float:right;
	color:#fff;
	padding:10px;
	font-size:20px;
	font-weight:700;
	margin:20px 0px;
	border-radius:5px;
	border:none;
}

/* Contact Right Section */

#contact-right{
	width:30%;
	margin-left:10px;
	color:#5EC2E6;
}
#contact-social ul{
	list-style:none;
}
#contact-social a{
	text-decoration:none;
	margin-left:-40px;
	color:#5EC2E6;
	opacity:0.6;
}#contact-social a:hover{
	opacity:1;
}

/* Location on google Map */
#map-container{
	width:100%;
	height:400px;
}
#map-frame{
	width:100%;
	height:100%;
	opacity:0.5;
}
#map-frame:hover{
	opacity:1;
}

/* Footer Section */
#footer{
	background-color:#363942;
}
#footer-container-inner{
	display:flex;
	padding-top:50px;
}
.ftr-col{
	width:25%;
	margin:5px;
}
.ftr-col-title{
	color:#fff;
	margin-bottom:25px;
}
#ftr-menu-list{
	list-style:none;
	margin-left:-40px;
}
.ftr-menu-link{
	text-decoration:none;
	color:#515560;
}
.ftr-menu-link:hover{
	color:#516055;
}




/* Media Section */

@media only screen and (max-width: 760px){
	#p-tile-wrap{
	display:flex;
	flex-direction:column;
}
.p-tile-img{
	width:100%;
	height:80vh;
	border-radius:5px;
	}
	#progress-container{
	width:100%;
	display:flex;
	flex-direction:column;
}
	.pg-circle{
	width:100%;
	
	}
	.pg-bar{
		margin-left:auto;
		margin-right:auto;
	}
	#we-container{
	display:flex;
	flex-direction:column;
	}
	#we-left{
	width:100%;
	}
	#we-right{
	width:100%;
	margin:25px 0px;
	}
	
	#contact-container{
	display:flex;
	flex-direction:column;
}
	#contact-left{
		width:100%;
		
	}
	#contact-right{
		width:100%;
		margin-right:auto;
		margin-left:auto;
	}
	#input-field{
		display:flex;
		flex-direction:column;
	}
	.input-field {
		width:100%;
	}
	#email-container{
		margin-top:20px;
	}
	#footer-container-inner{
		display:flex;
		flex-direction:column;
		padding-top:50px;
	}
	.ftr-col{
		width:100%;
		margin:5px;
	}
	#p-tile2{
		display:none;
	}
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
